.login-inbox {
    width: 400px;
    height: 420px;
    background: rgb(41, 2, 2);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 12px;
}

.login-inbox input{
    width: 100%;
    margin-bottom: 20px;
}

.login-inbox input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-inbox input[type="button"]{
    border: none;
    outline: none;
    height: 30px;
    color: rgb(15, 5, 5);
    font-size: 18px;
    border-radius: 14px;
    margin-top: 17px;
}
.login-inbox input[type="button"]:hover{
    cursor: pointer;
    background: cyan;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}